
<div class="container">

  <div class="row">
    <div class="col-sm-7">
      <app-geomap></app-geomap>
    </div>
    <div class="col-sm-5 right-col">
      <!--<mat-card>-->
        <!--<div id="pi_chart" [updateGeoMap] = "true" [chartData]="pichartdata" [chartOptions] = "pichartoptions" chartType="Histogram" GoogleChart></div>-->
      <!--</mat-card>-->
      <!--<mat-card>-->
        <!--<div id="pi_chart2" [updateGeoMap] = "true" [chartData]="pichartdata" [chartOptions] = "pichartoptions" chartType="PieChart" GoogleChart></div>-->
      <!--</mat-card>-->
      <!--<mat-card>-->
        <!--<div id="pi_chart3" [updateGeoMap] = "true" [chartData]="pichartdata" [chartOptions] = "pichartoptions" chartType="PieChart" GoogleChart></div>-->
      <!--</mat-card>-->
    </div>
  </div>
</div>
