
<div class="container">

  <div class="row">
    <div class="col-sm-7">
      <app-geomap></app-geomap>
    </div>
    <div class="col-sm-5 right-col">
      <mat-card>
        State overview
      </mat-card>
      <mat-card>
        <div id="histogram_chart" [updateGeoMap] = "true" [chartData]="populationData" [chartOptions] = "barChartOptions" chartType="Bar" GoogleChart></div>
      </mat-card>
      <mat-card>
        <div id="pie_chart" [updateGeoMap] = "true" [chartData]="jobsData" [chartOptions] = "pichartoptions" chartType="PieChart" GoogleChart></div>
      </mat-card>
    </div>
  </div>
</div>

