<mat-card>

  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Overview">
      <h2>Overview of US</h2>
    </mat-tab>
    <mat-tab label="Population">
      <h2>Population of US</h2>
    </mat-tab>
    <mat-tab label="Jobs">
      <h2>Jobs in US</h2>
    </mat-tab>
  </mat-tab-group>
  <div id="map_chart" class = "map-style" (selectedRegionEvent) = "stateSelected($event)" [updateGeoMap] = "updateGeoMap" [chartData]="map_ChartData" [chartOptions] = "map_ChartOptions" chartType="GeoChart" GoogleChart></div>
  <br/>
  <app-search (selectedRegionEvent) =  "stateSelected($event)" [states] = "searchComponentStateData"  ></app-search>
  <br/>
</mat-card>
