<form class="example-form">
  <mat-form-field class="example-full-width">
    <input #mainSearchInput matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name" (onSelectionChange)="stateSelected(state)">
        <img class="example-option-img" aria-hidden src="https://upload.wikimedia.org/wikipedia/commons/0/01/Flag_of_California.svg" height="25">
        <span>{{state.name}}</span> |
        <small>Population: {{state.population}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
